#form_login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    min-width: 20vw;
    /* border: 1px solid var(--cor-componentes-lite); */
}


#rodape_form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    min-width: 20vw;
    /* border: 1px solid var(--cor-componentes-lite); */
}

legend {
    text-align: center;
}

.container {
    text-align: center;
}